.ss__homeee{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 96px;
    font-family: var(--font-family);
    text-align: center;
   
}


#logo2{
    margin: 2rem;
}

#logo1{
    width: 20%;
}

#re{
    text-decoration: underline;
    cursor: pointer;
}

#pe {
  width: 20px; ;
}



h1{
    color: #828788;
    font-size: 30px;
}
.ss__home-imge{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ss__home-imge img{
    max-width: 250px;
    height: auto;
    width: 100%;
    margin-top: 2rem;
}

.insert{
    margin: 20rem;
}

p{

    font-weight: 700;
    font-size: 20px;
    line-height: 96px;
    font-family: var(--font-family);
    color: white;

}

.insert input{
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: transparent;
    padding: 0.5rem 1rem;
    outline: none;
    margin: 1rem;
    color: white;
    border: 2px solid #C4C4C4;
}

.insert input::placeholder{
    color: #A9A9A9;
}



.in {
    
    margin: 1rem;
    border-radius: 30px;
    height: 60px;
}

#cancel{
    margin: 5rem;
    width: 90px;
    cursor: pointer;
}

#update{
    width: 250px;
  min-height: 60px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: #38b6ff;
  border: 2px solid #38b6ff;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
  outline: none;

  border-radius: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;

}


.ss__home-headerrr{
    margin: 2rem;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 96px;
    font-family: var(--font-family);
    text-align: center;
}


  @media screen and (max-width: 1050px) {
    
  }
  
  @media screen and (max-width: 650px) {

    .ss__home-headerr {
      font-size: 20px;
    }

   
  }
  
  @media screen and (max-width: 490px) {
    .ss__home-headerr{
        margin: 1rem;
        font-weight: 700;
    font-size: 12px;
    line-height: 56px;
    
    }
    .ss__home-imge img{
        width: 60%;
    }


      #cancel{
        width: 15px;
      }

      h1{
        font-size: 20px;

      }

      h2{
        font-size: 20px;
      }

  }
  
  .shadow-drop-center {
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
