.gradient__text {
  /*background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);*/
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.ss__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8rem;
}

.ss__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 3rem;
}

.ss__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.ss__header-content p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: white;
  margin-top: 1.5rem;
}

.ss__header-content__input {
  margin: 2rem 0 1rem;
  display: flex;
  flex-direction: row;
}

.ss__header-content__input button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  background: #38b6ff;
  border: 2px solid #38b6ff;
  padding: 0.8rem 9rem;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: 30px;
}

.ss__header-content__input button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ss__header-image {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1050px) {
  .ss__header {
    flex-direction: column;
  }

  .ss__header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .ss__header-content h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .ss__header-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .ss__header-content__people {
    flex-direction: column;
  }

  .ss__header-content__people p {
    margin: 0;
  }

  .ss__header-content__input input,
  .ss__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .ss__header-content h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .ss__header-content p {
    font-size: 14px;
    line-height: 24px;
  }

  .ss__header-content__input input,
  .ss__header-content__input button {
    font-size: 12px;
    line-height: 16px;
  }
}
